
<div class="main-image-container">
  <img class="main-image" src="<%= @artist.image_url %>" alt="">
</div>

<h1><%= @artist.name %></h1>
<div class="main-rating">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star-o"></i>
</div>

<hr>

<div class="container artist-songs">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ol>
        <% @artist.songs.each do |song| %>
          <li>
            <span><a href="<%= song_url(song.id) %>"><%= song.name %></a></span>
            <div class="inline-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </li>
        <% end %>

      </ol>
    </div>
  </div>
</div>


<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Artist #<%= @artist.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @artist.name %></dd>

              <dt>Image url</dt>
              <dd><%= @artist.image_url %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to artists_url, :class => "btn btn-primary" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>
              <%= link_to edit_artist_url(@artist.id), :class => "btn btn-warning" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to artist_url(@artist.id), :method => "delete", :data => { :confirm => "Do you really want to delete this artist?" }, :class => "btn btn-danger" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
